:root {
	--radius-box: 0.5rem;

	--masonry-gap: 1.25rem;

	--order-card-width: 360px;

	--colors-persian-red: #bb342f;
	--colors-hundayi-yellow: #dd8148;
	--colors-cambridge-green: #8cbcb9;
	--colors-cambridge-green-dark: #1c5442;
	--colors-ghost-white: #ccced5;
	--colors-ucla-blue: #2374ab;

	--colors-lightning-black-700: #313133;
	--colors-lightning-black-800: #111111;
	--colors-lightning-black-900: #030303;

	--colors-raisin-gray: #626578;

	--status-pending: var(--colors-hundayi-yellow);
	--status-progress: var(--colors-ucla-blue);
	--status-done: var(--colors-cambridge-green);
	--status-canceled: var(--colors-persian-red);
}

body {
	background-color: var(--colors-lightning-black-900);
	color: var(--colors-ghost-white);
}
